__pycache__/

*.egg-info/
*.egg

.cache

.*-version

.env
.env.ci
.coverage

doc/**/*.yml

bin/deliver
bin/gitlab-ci-multi-runner

locale/**/*.mo

venv*
node_modules

static/*
!static/**/*.gitignore

tmp/log/*
tmp/build/*
tmp/_cache/*
!tmp/**/.gitignore
