@import '_colour.styl'

article-components()
  .title
    color #454545
    font-weight bold
    margin 2.69rem 0 1.39rem 0

  .extra.info
    padding 0.68rem 0 1.81rem 0
    margin 0

    .author
      margin 0
      .avatar
        display inline-block
        margin 0 0.56rem 0 0
      .name
        background-color darken(#fbfaf8, 4%)
        display inline-block
        margin-top 0.51rem
        vertical-align top

    .published_at
      margin 0.41rem 0 1.1rem 0
      .class
        color $purple2
        border 0
        border-radius 0

    .badge
      padding-top 0.345rem
      margin 0

  .outline
    margin 2.24rem 0 1.2rem 0
    color darken($purple0, 21%)
    margin 0.3rem 0 1.2rem 0

  .body
    margin-top 2.56rem
    margin-bottom 6.28rem

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      padding 0
      color $gray2

    p
      margin 0
      padding 0.422rem 0
      color $black0

    //p:first-letter
    //  text-transform uppercase
    //  line-height 1.44rem
    //  letter-spacing 0.08rem
    //  font-weight bold
    //  display inline-block

    code
      display inline-block
      padding 0.018em 0.36em
      border-radius 0.18em
      border 1px solid $gray2
      background $gray0

    pre > code
      line-height 1.56em
      background $gray2
      color $white0


  @media only screen and (max-width: 780px)
    /* same with normal size (column-n-N) */
    .title
      margin 1.89rem 0 1.09rem 0
