$gray0 = #f9f9fb
$gray1 = #97a1a6
$gray2 = #55545a

$purple0 = #d5d2e3
$purple1 = #aaa8b5
$purple2 = #7e718f

$black0 = #2b2d26
$black1 = #1e1f1a
$black2 = #11110e

$white0 = #ffffff
$white1 = #fdfdfd
$white1 = #fcfcfc

$paper0 = #ffffff
$paper1 = #fcfcfc
$paper2 = #fcf9f9
$paper3 = #f3ece2
