@import './shared/_colour.styl'
@import './shared/_article.styl'

.article-container
  padding 0.6rem 0 0.22rem 0

article
  margin-top 0
  padding-top 0

  article-components()

.meta
  .license
    display inline-block
    margin 0.48rem 0

  .copy
    display block
    margin 0 0 0 0.06em

  p.tag
    margin-top 2rem
    color darkgray
    span
      display inline-block
      margin-right 0.66rem


// options
.options
  .item.disabled
    svg
      use.icon
        fill darken(#f0ede6, 9%)

@media only screen and (max-width: 780px)
  /* same with normal size (column-n-N) */
  .mobile.hidden
    display none !important

  .article-container
    padding 0
