body.slab-loaded
  font-family 'Roboto Slab', serif
  word-spacing 0
  letter-spacing 0
  .logo
    .logo-type
      font-family 'Roboto Slab', serif
      word-spacing 0
      letter-spacing 0

  .nav
    font-family 'Roboto Slab', serif
    word-spacing 0
    letter-spacing 0

  article
    .body
      font-family 'Roboto Slab', serif
      word-spacing 0
      letter-spacing 0


body.sans-loaded
  .meta
    font-family 'Open Sans', sans-serif
    word-spacing 0
    letter-spacing 0

  article
    .extra.info,
    .outline,
    .title,
    .subtitle
      font-family 'Open Sans', sans-serif
      word-spacing 0
      letter-spacing 0
    .body
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        font-family 'Open Sans', sans-serif
        word-spacing 0
        letter-spacing 0


body
  // roboto slab
  font-family serif
  word-spacing -0.25px
  letter-spacing -0.15px
  .logo
    .logo-type
      // roboto slab
      font-family serif
      word-spacing -0.25px
      letter-spacing -0.15px
      font-weight normal
      font-size 0.68em
      line-height 1.28rem
      padding 0
      vertical-align top
      min-height 1.1rem

.nav
  font-size 0.88em
  // roboto slab
  font-family serif
  word-spacing -0.25px
  letter-spacing -0.15px

.meta
  // open sans
  font-family sans-serif
  word-spacing -0.25px
  letter-spacing -0.4px
  h3
    font-weight normal

  .copy
    font-size 0.89em

article
  .extra.info,
  .outline,
  .title,
  .subtitle
    // open sans
    font-family sans-serif
    word-spacing -0.25px
    letter-spacing -0.4px

  .extra.info
    .author,
    .published_at
      line-height 1.46em
      font-size 0.96em

  .title,
  .subtitle
    font-style normal

  .title
    font-size 1.93em

  .subtitle
    font-weight 100
    font-size 0.96em
    line-height 1.445em

  .outline
    font-family serif
    word-spacing -0.25px
    letter-spacing -0.15px
    font-style normal
    font-weight 100
    font-size 1.12em
    line-height 1.28em
    hyphens auto

  .body
    font-family serif
    font-size 1.74em
    font-style normal
    line-height 1.318em
    font-weight 100
    hyphens auto
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      font-family sans
      font-weight normal
      letter-spacing 0.0014em
    h1
      margin 1.82rem 0 0.21rem 0
    h2
      font-size 1.34rem
      margin 1.82rem 0 0.21rem 0
    h3
      font-size 1.12rem
      margin 0.98rem 0 0.16rem 0
    h4
      font-size 1.09rem
      font-weight normal
      margin 0.59rem 0 0.18rem 0
    h5
      font-size 1.03rem
      font-weight normal
      margin 0.55rem 0 0.8rem 0
    h6
      font-size 0.94rem
      font-weight normal
      margin 0.55rem 0 0.8rem 0
    p
      font-size 1.12rem
      line-height 1.34em
      letter-spacing 0.0012em
    strong
      font-weight bold
      display inline-block
      padding 0 3px
    ul
      margin 1.22rem 0 0.81rem 1.26rem
      padding 0
      li
        line-height 1.38em
        font-size 1.08rem
        font-weight 100
    code
      font-weight 300
      display inline-block
      margin 0 4px
      padding 0.002em 0.185em
      background $gray0
      border 1px solid $gray1
      border-radius 2px

#application
  main
    .breadcrumb
      line-height 1.42rem
      font-size 1.09em
      span
        font-weight normal

@media only screen and (max-width: 780px)
  /* same with normal size (column-n-N) */
  .secondary.nav
    font-size 0.78em
    line-height 0.58em

  article
    .title
      font-size 1.18em
    .outline
      font-size 0.96em
      line-height 1.22em
    .body
      font-size 1.12em
      h1
        margin 1.32rem 0 0.11rem 0
      h2
        font-size 1.34rem
        margin 1.22rem 0 0.9rem 0
      h3
        font-size 1.02rem
        margin 0.88rem 0 0.8rem 0
      h4
        font-size 0.98rem
        font-weight normal
        margin 0.59rem 0 0.18rem 0
      h5
        font-size 1.03rem
        font-weight normal
        margin 0.55rem 0 0.8rem 0
      h6
        font-size 0.94rem
        font-weight normal
        margin 0.55rem 0 0.8rem 0
      p
        font-size 0.89em
        line-height 1.11em
      ul
        margin 1.02rem 0 0.61rem 1.22rem
        li
          line-height 1.08em
          font-size 1.03rem
          font-weight 100
