body
  h1
    padding 0
    min-height 1rem
    line-height 1.28rem
    font-size 1.54rem
    font-weight 700
    font-family Helvetica Neue,Arial,Helvetica,sans-serif

article
  .meta
    h3
      font-weight normal

  .title,
  .subtitle
    font-family 'museo-slab', 'heisei-maru-gothic-std', sans-serif
    font-style normal

  .title
    font-weight 400
    font-size 1.93em

  .subtitle
    font-weight 100
    font-size 0.96em
    line-height 1.445em

  .outline
    font-family 'museo-slab', 'heisei-maru-gothic-std', sans-serif
    font-style normal
    font-weight 100
    font-size 0.89em
    line-height 1.16em
    hyphens auto

  .body
    font-family 'museo-slab', 'heisei-maru-gothic-std', serif
    font-size 1.06em
    font-style normal
    line-height 1.583em
    font-weight 100
    hyphens auto
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      font-family 'heisei-maru-gothic-std', Helvetica neue, Arial, sans-serif
    h2
      font-size 1.54rem
      font-weight 600
    h3
      font-size 1.34rem
      font-weight 500
    h4
      font-size 1.34rem
      font-weight 400
    h5
      font-size 1.26rem
      font-weight 300
    h5
      font-size 1.16rem
      font-weight 200
    p
      font-size 1.16rem
      font-weight 200
    strong
      font-weight 700
      display inline-block
      padding 0 3px
    ul
      margin 1.22rem 0 0.81rem 1.22rem
      padding 0
      li
        line-height 1.41em
        font-size 1.16rem
        font-weight 200
    code
      font-weight 300
      display inline-block
      margin 0 4px
      padding 0.002em 0.185em
      background $gray0
      border 1px solid $gray1
      border-radius 2px
